<%= render 'layouts/header' %>

<!-- <nav class="navbar">
  <div class="navbar-title-container">
    <div class="navbar-title"><%= @title %></div>
    <div class="navbar-subtitle"><%= @subtitle %></div>
  </div>
</nav> -->

<!-- <footer>
  <div class="container">
    <p class="pull-left">About  |  Terms  |  Privacy  |  Support  |  Contact</p>
    <p class="pull-right">&copy: Career + Connect 2017</p>
  </div>
</footer> -->
