<!-- <nav class="navbar"> -->
  <div class="navbar-title-container">
    <div class="navbar-title"><%= @title %></div>
    <div class="navbar-subtitle"><%= @subtitle %></div>
  </div>
</nav>

<h1><%= @sitename %></h1>

<h1></h1>

<br></br>

<footer><%= @sitename %></footer>
