/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$primary-color: maroon;

$default-font-color: #1d1d1d;
$light-font-color: #6b6969;

.body{
  font-family: $default-font;
  color: $default-font-color;
  padding: 30px;
}

.navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.navbar-title-container {
  padding-left: 18px;
  line-height: normal;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-title {
  color: $primary-color;
  font-size: 20px;
  font-weight: 600;
}

.navbar-subtitle {
  color: $light-font-color;
  font-size: 12px;
}

.title {
  font-size: 50px;
  color: maroon;
}

.footer {
background-color: #f8f8f8;
border-color: #e7e7e7;
top: 0;
border-width: 0 0 1px;
position: fixed;
right: 0;
left: 0;
z-index: 1030;
border-radius: 0;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;
display: flex;
align-items: center;
}

.background-image {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.5;
}
